* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.container-principal {
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.container-card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  margin: auto;
}

.card {
  padding: 2rem;
  height: 100%;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.5rem 0.5rem 0 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 0.5rem 0.5rem;
}

.icon {
  width: 30%;
  margin-bottom: 2rem;
}
.card-tittle {
  margin-bottom: 2rem;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-size: 2.5rem;
}

.card-paragraph {
  margin-bottom: 3rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
}

.card-buttom {
  font-family: "Lexend Deca", sans-serif;
  background-color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 25px;
  border: #fff solid 1px;
 
}

.card-buttom:hover {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}

.card-btn1 {
  color: hsl(31, 77%, 52%);
}

.card-btn2 {
  color: hsl(184, 100%, 22%);
}

.card-btn3 {
  color: hsl(179, 100%, 13%);
}

.attribution {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .container-principal {
    margin: 2rem auto;
  }

  .container-card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 70%;
    margin: auto;
  }

  .sedans {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
